module.exports = {
  username: "USERNAME", // Replace this, JIRA username
  password: "PASSWORD", // Replace this, JIRA password
  account: "statmilk", // Replace this, Atlassian account name
  // State Transititons
  transitions: {
    toDo: "11",
    inProgress: "101",
    done: "31",
    closed: "111"
  },
  // User Story States
  us_states: {
    toDo: "To Do",
    done: "Done",
    closed: "Closed"
  }
};
