module.exports = {
  username: "USERNAME", // Replace this, JIRA username
  password: "PASSWORD", // Replace this, JIRA password
  account: "ACCOUNT", // Replace this, Atlassian account name
  // State Transitions
  transitions: {
    toDo: "41",
    inProgress: "21",
    done: "11",
    wontdo: "31"
  },
  // User Story States
  us_states: {
    toDo: "To Do",
    inProgress: "In Progress",
    resolved: "Resolved",
    merged: "Merged",
    deployed: "Deployed",
    done: "Done",
    wontdo: "Won't do"
  }
};
